In [25]:
import sqlite3
from sqlite3 import Error
import pandas as pd
!Pip install pyreadstat
!Pip install psycopg2
from pathlib import Path
import pyreadstat
import xport.v56

from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import Config

#from config import db_password
#NEED TO ADDRESS THIS!!!

##from config import db_password

Requirement already satisfied: pyreadstat in c:\users\18482\anaconda3\lib\site-packages (1.1.9)
Requirement already satisfied: pandas>=1.2.0 in c:\users\18482\anaconda3\lib\site-packages (from pyreadstat) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\18482\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\18482\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in c:\users\18482\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\18482\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=1.2.0->pyreadstat) (1.16.0)
Requirement already satisfied: psycopg2 in c:\users\18482\anaconda3\lib\site-packages (2.9.3)

In [26]:
%pwd

'C:\\Users\\18482\\Desktop\\Data-Science-Portfolio\\20-CAPSTONE\\Data_Sci_Capstone'

In [27]:
#Import Raw Data as Pandas DataFrame
filepath = ("LLCP2020.XPT_")
df = pd.read_sas(filepath, format='xport', encoding='utf-8')
df.head(10)

C:\Users\18482\anaconda3\envs\mlenv\lib\site-packages\pandas\io\sas\sas_xport.py:475: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[x] = v

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_RFPSA23,_CLNSCPY,_SGMSCPY,_SGMS10Y,_RFBLDS4,_STOLDNA,_VIRCOLN,_SBONTIM,_CRCREC1,_AIDTST4
0,1.0,1.0,01042020,01,04,2020,1100.0,2020000001,2.020000e+09,1.0,...,NaN,1.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,1.0
1,1.0,1.0,02072020,02,07,2020,1200.0,2020000002,2.020000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
2,1.0,1.0,01232020,01,23,2020,1100.0,2020000003,2.020000e+09,1.0,...,NaN,1.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,2.0
3,1.0,1.0,01092020,01,09,2020,1100.0,2020000004,2.020000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
4,1.0,1.0,01042020,01,04,2020,1100.0,2020000005,2.020000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0
5,1.0,1.0,01092020,01,09,2020,1100.0,2020000006,2.020000e+09,1.0,...,2.0,1.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,1.0
6,1.0,1.0,01092020,01,09,2020,1200.0,2020000007,2.020000e+09,1.0,...,NaN,1.0,NaN,NaN,2.0,1.0,3.0,2.0,1.0,2.0
7,1.0,1.0,01292020,01,29,2020,1200.0,2020000008,2.020000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
8,1.0,1.0,01302020,01,30,2020,1100.0,2020000009,2.020000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
9,1.0,1.0,01042020,01,04,2020,1100.0,2020000010,2.020000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0

In [28]:
#Show the columns headers as a list
print(df.columns.tolist())

['_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'DISPCODE', 'SEQNO', '_PSU', 'CTELENM1', 'PVTRESD1', 'COLGHOUS', 'STATERE1', 'CELPHONE', 'LADULT1', 'COLGSEX', 'NUMADULT', 'LANDSEX', 'NUMMEN', 'NUMWOMEN', 'RESPSLCT', 'SAFETIME', 'CTELNUM1', 'CELLFON5', 'CADULT1', 'CELLSEX', 'PVTRESD3', 'CCLGHOUS', 'CSTATE1', 'LANDLINE', 'HHADULT', 'SEXVAR', 'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', 'HLTHPLN1', 'PERSDOC2', 'MEDCOST', 'CHECKUP1', 'EXERANY2', 'SLEPTIM1', 'CVDINFR4', 'CVDCRHD4', 'CVDSTRK3', 'ASTHMA3', 'ASTHNOW', 'CHCSCNCR', 'CHCOCNCR', 'CHCCOPD2', 'HAVARTH4', 'ADDEPEV3', 'CHCKDNY2', 'DIABETE4', 'DIABAGE3', 'LASTDEN4', 'RMVTETH4', 'MARITAL', 'EDUCA', 'RENTHOM1', 'NUMHHOL3', 'NUMPHON3', 'CPDEMO1B', 'VETERAN3', 'EMPLOY1', 'CHILDREN', 'INCOME2', 'PREGNANT', 'WEIGHT2', 'HEIGHT3', 'DEAF', 'BLIND', 'DECIDE', 'DIFFWALK', 'DIFFDRES', 'DIFFALON', 'SMOKE100', 'SMOKDAY2', 'STOPSMK2', 'LASTSMK2', 'USENOW3', 'ALCDAY5', 'AVEDRNK3', 'DRNK3GE5', 'MAXDRNKS', 'FLUSHOT7', 'FLSHTMY3', 'SHINGLE2', 'PNEUVAC4', 'FALL12MN', 'FALLINJ4', 'SEATBELT', 'DRNKDRI2', 'HADMAM', 'HOWLONG', 'HADPAP2', 'LASTPAP2', 'HPVTEST', 'HPLSTTST', 'HADHYST2', 'PCPSAAD3', 'PCPSADI1', 'PCPSARE1', 'PSATEST1', 'PSATIME', 'PCPSARS1', 'COLNSCPY', 'COLNTEST', 'SIGMSCPY', 'SIGMTEST', 'BLDSTOL1', 'LSTBLDS4', 'STOOLDNA', 'SDNATEST', 'VIRCOLON', 'VCLNTEST', 'HIVTST7', 'HIVTSTD3', 'HIVRISK5', 'PDIABTST', 'PREDIAB1', 'INSULIN1', 'BLDSUGAR', 'FEETCHK3', 'DOCTDIAB', 'CHKHEMO3', 'FEETCHK', 'EYEEXAM1', 'DIABEYE', 'DIABEDU', 'TOLDCFS', 'HAVECFS', 'WORKCFS', 'TOLDHEPC', 'TRETHEPC', 'PRIRHEPC', 'HAVEHEPC', 'HAVEHEPB', 'MEDSHEPB', 'HLTHCVR1', 'CIMEMLOS', 'CDHOUSE', 'CDASSIST', 'CDHELP', 'CDSOCIAL', 'CDDISCUS', 'CAREGIV1', 'CRGVREL4', 'CRGVLNG1', 'CRGVHRS1', 'CRGVPRB3', 'CRGVALZD', 'CRGVPER1', 'CRGVHOU1', 'CRGVEXPT', 'ECIGARET', 'ECIGNOW', 'MARIJAN1', 'USEMRJN2', 'RSNMRJN1', 'LCSFIRST', 'LCSLAST', 'LCSNUMCG', 'LCSCTSCN', 'CNCRDIFF', 'CNCRAGE', 'CNCRTYP1', 'CSRVTRT3', 'CSRVDOC1', 'CSRVSUM', 'CSRVRTRN', 'CSRVINST', 'CSRVINSR', 'CSRVDEIN', 'CSRVCLIN', 'CSRVPAIN', 'CSRVCTL2', 'PCPSADE1', 'PCDMDEC1', 'HPVADVC4', 'HPVADSHT', 'TETANUS1', 'IMFVPLA1', 'BIRTHSEX', 'SOMALE', 'SOFEMALE', 'TRNSGNDR', 'ACEDEPRS', 'ACEDRINK', 'ACEDRUGS', 'ACEPRISN', 'ACEDIVRC', 'ACEPUNCH', 'ACEHURT1', 'ACESWEAR', 'ACETOUCH', 'ACETTHEM', 'ACEHVSEX', 'RCSGENDR', 'RCSRLTN2', 'CASTHDX2', 'CASTHNO2', 'QSTVER', 'QSTLANG', '_METSTAT', '_URBSTAT', 'MSCODE', '_STSTR', '_STRWT', '_RAWRAKE', '_WT2RAKE', '_IMPRACE', '_CHISPNC', '_CRACE1', '_CPRACE', '_CLLCPWT', '_DUALUSE', '_DUALCOR', '_LLCPWT2', '_LLCPWT', '_RFHLTH', '_PHYS14D', '_MENT14D', '_HCVU651', '_TOTINDA', '_MICHD', '_LTASTH1', '_CASTHM1', '_ASTHMS1', '_DRDXAR2', '_EXTETH3', '_ALTETH3', '_DENVST3', '_PRACE1', '_MRACE1', '_HISPANC', '_RACE', '_RACEG21', '_RACEGR3', '_RACEPRV', '_SEX', '_AGEG5YR', '_AGE65YR', '_AGE80', '_AGE_G', 'HTIN4', 'HTM4', 'WTKG3', '_BMI5', '_BMI5CAT', '_RFBMI5', '_CHLDCNT', '_EDUCAG', '_INCOMG', '_SMOKER3', '_RFSMOK3', 'DRNKANY5', 'DROCDY3_', '_RFBING5', '_DRNKWK1', '_RFDRHV7', '_FLSHOT7', '_PNEUMO3', '_RFSEAT2', '_RFSEAT3', '_DRNKDRV', '_RFMAM22', '_MAM5023', '_RFPAP35', '_RFPSA23', '_CLNSCPY', '_SGMSCPY', '_SGMS10Y', '_RFBLDS4', '_STOLDNA', '_VIRCOLN', '_SBONTIM', '_CRCREC1', '_AIDTST4']

In [29]:
# Condense Columns to Targeted Result Categories
filtered_columns_df = df[["_SEX","_AGEG5YR","_RACE","_STATE","_RFHLTH","_PHYS14D","_BMI5CAT","DIABETE4","_MENT14D","_RFDRHV7","_RFSMOK3","_LTASTH1","CHCKDNY2","CVDSTRK3","_CLNSCPY","_MICHD","_TOTINDA","_METSTAT","_URBSTAT","_INCOMG","_EDUCAG","SLEPTIM1"]]
filtered_columns_df.head()

,_SEX,_AGEG5YR,_RACE,_STATE,_RFHLTH,_PHYS14D,_BMI5CAT,DIABETE4,_MENT14D,_RFDRHV7,...,CHCKDNY2,CVDSTRK3,_CLNSCPY,_MICHD,_TOTINDA,_METSTAT,_URBSTAT,_INCOMG,_EDUCAG,SLEPTIM1
0,2.0,8.0,1.0,1.0,1.0,2.0,1.0,1.0,3.0,1.0,...,2.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,4.0,5.0
1,2.0,10.0,2.0,1.0,1.0,1.0,3.0,3.0,1.0,9.0,...,2.0,2.0,NaN,2.0,1.0,1.0,1.0,9.0,4.0,7.0
2,2.0,10.0,2.0,1.0,1.0,1.0,NaN,3.0,1.0,1.0,...,2.0,2.0,1.0,2.0,1.0,1.0,1.0,5.0,3.0,7.0
3,2.0,13.0,1.0,1.0,1.0,1.0,NaN,3.0,1.0,1.0,...,2.0,2.0,NaN,2.0,2.0,1.0,1.0,9.0,2.0,6.0
4,2.0,13.0,1.0,1.0,1.0,1.0,2.0,3.0,1.0,1.0,...,2.0,1.0,NaN,2.0,1.0,1.0,1.0,9.0,4.0,7.0

In [30]:
# Check Column Count vs Expected Result
print(len(filtered_columns_df.columns))

22

In [31]:
## Rename Columns for Easier Readability
filtered_columns_df.rename({ "_SEX": "Birth_Sex",   #M=1 F =2
                             "_AGEG5YR":"Age",      #1=18-24, 2=25-29, 3=30-34, 4=35-39, 5=40-44,6=45-49,7=50-54,8=55-59,9=60-64,10=65-69,11=70-74,12=75-79,13=80+,14=drop
                             "_RACE":"Race",        #1=white only, non-hisp,...in chat!! blanks=drop
                             "_STATE":"State",      #52 diff states...already have
                             "_METSTAT" : "Metropolitan_y_n",  #1=metro county, 2=non-metro county
                             "_URBSTAT" : "Urban_Rural", #1=urban 2=rural
                             "_RFHLTH":"Overall_Health", #1=BETTER/GOOD, 2=FAIR/POOR, 9 N/A(DROP)
                             "_PHYS14D":"Physical_Health", #1=0 DAYS WHEN PHYSICAL HEALTH WAS NOT GOOD, 2=1-13 DAYS, 3=14+ DAYS 9=DROP!!!
                             "_BMI5CAT":"BMI_CDC_Categories", #1=uNDERWT 2=NORMAL WT 3=OVERWT, BLANK = DROP
                             "DIABETE4":"Diabetes", #1=YES, 2=YES, BUT FEMALE ONLY DURING PREG, 3=NO, 4=BORDERLINE DIABETES, 7=N/A drop 9=rrefused(DROPPED) 
                             "_MENT14D":"Mental_Health",#1=0 DAYS WHEN mental HEALTH WAS NOT GOOD, 2=1-13 DAYS, 3=14+ DAYS 9=DROP!!!
                             "_RFDRHV7": "Alcohol_Usage",#1=NO, 2=YES 9=N/A(dropped???)
                             "_RFSMOK3": "Tobacco_Usage",#1=NO, 2=YES, 9=n?a(DROPPED???)
                             "_LTASTH1" : "Asthma_History",#1=NO, 2=YES, 9=N/A (DROPPED?)
                             "CHCKDNY2" : "Kidney_Disease",#1=YES, 2=NO, 7=N/A(DROPPED?) 9=REFUSED(DROPPED?)
                             "CVDSTRK3" : "Stroke",#1=YES, 2=NO, 7=NA(DROPPED?), 9=REFUSED(DROPPED?)
                             "_INCOMG" : "Reported_Income",#1=<$15K,2-15K-25K, 3-25K-35K, 4=35K-50K, 5=50K+, 9=MISSING(N/A ...DROPPED?)
                             "_EDUCAG" : "Education_Level",#1=NO HS DIPLOMA, 2=HS DIPLOMA, 3=COLLEGE/TECH SCHOOL ATTENDED, 4=GRADUATED COLLEGE OR TECH SKOOL, 9=N/A(DROPPED?)
                             "SLEPTIM1" : "Avg_Hours_of_Sleep",#1-24 EQUAL #OF HRS OF SLEEP...NO BUCKET...RAW
                             "_CLNSCPY" : "Colonoscopy",#1=YES PAST 10 YRS, 2=10+ YRS AGO, 3=NO COLONOSCOPY, NaN = leave blanks due to age no requiring colonoscopy
                             "_MICHD" : "Prior_Heart_Disease",#1=yes,r eported heart disease, 2=no, did not report, 3 = no response(NaN)
                             "_TOTINDA" : "Physical_Activity"},axis=1, inplace=True) #1=yes, physical activities 2= no phys activities, 9=NaN(drop?)
filtered_columns_df.head(100)

C:\Users\18482\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Birth_Sex,Age,Race,State,Overall_Health,Physical_Health,BMI_CDC_Categories,Diabetes,Mental_Health,Alcohol_Usage,...,Kidney_Disease,Stroke,Colonoscopy,Prior_Heart_Disease,Physical_Activity,Metropolitan_y_n,Urban_Rural,Reported_Income,Education_Level,Avg_Hours_of_Sleep
0,2.0,8.0,1.0,1.0,1.0,2.0,1.0,1.0,3.0,1.0,...,2.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,4.0,5.0
1,2.0,10.0,2.0,1.0,1.0,1.0,3.0,3.0,1.0,9.0,...,2.0,2.0,NaN,2.0,1.0,1.0,1.0,9.0,4.0,7.0
2,2.0,10.0,2.0,1.0,1.0,1.0,NaN,3.0,1.0,1.0,...,2.0,2.0,1.0,2.0,1.0,1.0,1.0,5.0,3.0,7.0
3,2.0,13.0,1.0,1.0,1.0,1.0,NaN,3.0,1.0,1.0,...,2.0,2.0,NaN,2.0,2.0,1.0,1.0,9.0,2.0,6.0
4,2.0,13.0,1.0,1.0,1.0,1.0,2.0,3.0,1.0,1.0,...,2.0,1.0,NaN,2.0,1.0,1.0,1.0,9.0,4.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2.0,10.0,1.0,1.0,2.0,3.0,2.0,3.0,1.0,1.0,...,2.0,2.0,1.0,2.0,2.0,2.0,1.0,3.0,2.0,8.0
96,1.0,7.0,1.0,1.0,2.0,3.0,3.0,3.0,1.0,1.0,...,2.0,2.0,1.0,2.0,1.0,2.0,2.0,5.0,2.0,6.0
97,2.0,8.0,1.0,1.0,1.0,1.0,2.0,3.0,1.0,1.0,...,2.0,2.0,1.0,2.0,1.0,1.0,1.0,5.0,3.0,6.0
98,1.0,12.0,1.0,1.0,1.0,1.0,3.0,3.0,2.0,1.0,...,2.0,2.0,NaN,2.0,1.0,1.0,1.0,1.0,2.0,8.0
99,2.0,12.0,1.0,1.0,1.0,2.0,3.0,3.0,3.0,1.0,...,2.0,2.0,NaN,2.0,2.0,1.0,1.0,2.0,2.0,7.0

In [33]:
df['State_Name']=np.where(filtered_columns_df['State']=1, 'Alabama',
                             np.where(filtered_columns_df['State']=2, 'Alaska',
                             np.where(filtered_columns_df['State']=4, 'Arizona',
                             np.where(filtered_columns_df['State']=5, 'Arkansas',
                             np.where(filtered_columns_df['State']=6, 'California',
                             np.where(filtered_columns_df['State']=8, 'Colorado',
                             np.where(filtered_columns_df['State']=9, 'Connecticut',
                             np.where(filtered_columns_df['State']=10, 'Delaware',
                             np.where(filtered_columns_df['State']=11, 'District_of_Columbia',
                             np.where(filtered_columns_df['State']=12, 'Florida',
                             np.where(filtered_columns_df['State']=13, 'Georgia',
                             np.where(filtered_columns_df['State']=15, 'Hawaii',
                             np.where(filtered_columns_df['State']=16, 'Idaho',
                             np.where(filtered_columns_df['State']=17, 'Illinois',
                             np.where(filtered_columns_df['State']=18, 'Indiana',
                             np.where(filtered_columns_df['State']=19, 'Iowa',
                             np.where(filtered_columns_df['State']=20, 'Kansas',
                             np.where(filtered_columns_df['State']=21, 'Kentucky',
                             np.where(filtered_columns_df['State']=22, 'Louisiana',
                             np.where(filtered_columns_df['State']=23, 'Maine',
                             np.where(filtered_columns_df['State']=24, 'Maryland',
                             np.where(filtered_columns_df['State']=25, 'Massachusetts',
                             np.where(filtered_columns_df['State']=26, 'Michigan',
                             np.where(filtered_columns_df['State']=27, 'Minnesota',
                             np.where(filtered_columns_df['State']=28, 'Mississippi',
                             np.where(filtered_columns_df['State']=29, 'Missouri',
                             np.where(filtered_columns_df['State']=30, 'Montana',
                             np.where(filtered_columns_df['State']=31, 'Nebraska',
                             np.where(filtered_columns_df['State']=32, 'Nevada',
                             np.where(filtered_columns_df['State']=33, 'New Hampshire',
                             np.where(filtered_columns_df['State']=34, 'New Jersey',
                             np.where(filtered_columns_df['State']=35, 'New Mexico',
                             np.where(filtered_columns_df['State']=36, 'New York',
                             np.where(filtered_columns_df['State']=37, 'North Carolina',
                             np.where(filtered_columns_df['State']=38, 'North Dakota',
                             np.where(filtered_columns_df['State']=39, 'Ohio',
                             np.where(filtered_columns_df['State']=40, 'Oklahoma',
                             np.where(filtered_columns_df['State']=41, 'Oregon',
                             np.where(filtered_columns_df['State']=42, 'Pennsylvania',
                             np.where(filtered_columns_df['State']=44, 'Rhode Island',
                             np.where(filtered_columns_df['State']=45, 'South Carolina',
                             np.where(filtered_columns_df['State']=46, 'South Dakota',
                             np.where(filtered_columns_df['State']=47, 'Tennessee',
                             np.where(filtered_columns_df['State']=48, 'Texas',
                             np.where(filtered_columns_df['State']=49, 'Utah',
                             np.where(filtered_columns_df['State']=50, 'Vermont',
                             np.where(filtered_columns_df['State']=51, 'Virginia',
                             np.where(filtered_columns_df['State']=53, 'Washington',
                             np.where(filtered_columns_df['State']=54, 'West Virginia',
                             np.where(filtered_columns_df['State']=55, 'Wisconsin',
                             np.where(filtered_columns_df['State']=56, 'Wyoming',
                             np.where(filtered_columns_df['State']=66, 'Guam',
                             np.where(filtered_columns_df['State']=72, 'Puerto Rico')))))))))))))))))))))))))))))))))))))))))))))))))))))

SyntaxError: keyword can't be an expression (2978325209.py, line 1)

In [ ]:
# POSTGRES CONNECTION
#Reference: https://www.kindsonthegenius.com/data-science/sqlalchemy-tutorial-1-connect-python-to-mysql-postgresql-sqlite-and-ms-sql/#t3
db_string = f"postgresql://postgres:{Config.db_password}@localhost:5432/postgres"   
db_string = f"postgresql://postgres:postgres@localhost:5432/postgres"
engine = create_engine(db_string)
filtered_columns_df.to_sql(name='Heart_Disease_22_Full', con=engine, if_exists ='replace')  ##THIS!!!!

####