In [ ]:
import sqlite3
from sqlite3 import Error
import pandas as pd
!Pip install pyreadstat
from pathlib import Path
import pyreadstat
import xport.v56

In [ ]:
#COnfirm we have the packages required...sometimes kernel doesn't accept Pip Installs in a timely manner!!!
!Pip list

In [ ]:
# Check the environment we are in
import sys
print(sys.executable)

In [ ]:
#Import Raw Data as Pandas DataFrame
filepath = ("LLCP2020.XPT_")
df = pd.read_sas(filepath, format='xport', encoding='utf-8')
df.head(10)

In [ ]:
#Renaming the Features we plan on using
df_rename= df.rename({"_STATE":"STATE",
                     "_CLNSCPY":"Colonoscopy( 10 years)",
                     "_SGMS10Y":"Sigmoidoscopy(last 5 years)",
                    "_RFBLDS4":"Blood Stool Test(last 2 years)",
                     "_STOLDNA":"Stool DNA Test(last 3 years)",
                    "_VIRCOLN":"Virtual Colonoscopy(last 5 years)",
                     "_SBONTIM": "Sigmoidoscopy(10 years) & Blood Stool Test(1 year)",
                     "USPSTF":"Meets all Prev Tast Force Recs"},
                      axis=1)
df_rename.tail(5)

In [ ]:
sex_df = df_rename[["BIRTHSEX","SEXVAR"]]
sex_df.dropna()

In [ ]:
#Landline
LL09_answer = (df_rename['RESPSLCT'].isna().sum())
LL09_answer1 = (df_rename["RESPSLCT"].sum())
print (LL09_answer)
print (LL09_answer1)
print(LL09_answer+LL09_answer1)

In [ ]:
#The define Original DataSet
CP07_answer = (df_rename['CCLGHOUS'].isna().sum())
CP07_answer1 = (df_rename["CCLGHOUS"].sum())
print (CP07_answer)
print (CP07_answer1)
print(CP07_answer+CP07_answer1)

In [ ]:
#Combine the questionnaire accetpable participants
print (LL09_answer1+CP07_answer1)

In [ ]:
#Show the columns headers as a list
print(df.columns.tolist())

In [ ]:
# Condense Columns to Targeted Result Categories
filtered_columns_df = df[["_SEX","_AGEG5YR","_RACE","_STATE","_RFHLTH","_PHYS14D","_BMI5CAT","DIABETE4","_MENT14D","_RFDRHV7","_RFSMOK3","_LTASTH1","CHCKDNY2","CVDSTRK3","_CLNSCPY","_MICHD","_TOTINDA","_METSTAT","_URBSTAT","_INCOMG","_EDUCAG","SLEPTIM1"]]
filtered_columns_df.head()

In [ ]:
# Check Column Count vs Expected Result
print(len(filtered_columns_df.columns))

In [ ]:
# Rename Columns for Easier Readability
filtered_columns_df.rename({"_SEX": "Birth Sex",
                            "_AGEG5YR":"Age", 
                            "_RACE":"Race", 
                            "_STATE":"State",
                            "_METSTAT" : "Metropolitan_y_n",
                            "_URBSTAT" : "Urban_Rural",
                            "_RFHLTH":"Overall Heath",
                            "_PHYS14D":"Physical Health",
                            "_BMI5CAT":"BMI_CDC_Categories",
                            "DIABETE4":"Diabetes",
                            "_MENT14D":"Mental_Health",
                            "_RFDRHV7": "Alcohol_Usage",
                            "_RFSMOK3": "Tobacco_Usage",
                            "_LTASTH1" : "Asthma_History",
                            "CHCKDNY2" : "Kidney_Disease",
                            "CVDSTRK3" : "Stroke",
                            "_INCOMG" : "Reported_Income",
                            "_EDUCAG" : "Education_Level",
                            "SLEPTIM1" : "Avg_Hours_of_Sleep",
                             "_CLNSCPY" : "Colonoscopy",
                             "_MICHD" : "Prior_Heart_Disease",
                             "_TOTINDA" : "Physical_Activity"},axis=1, inplace=True)
filtered_columns_df.head(100)

In [ ]:
# Change the data types!!!  I defaulted all as text!
#TEXT
#NUMERIC
#INTEGER
#REAL
#BLOB





con = sqlite3.connect('Heart_Disease_Analysis.db')
cur = con.cursor()
cur.execute('''CREATE TABLE IF NOT EXISTS Clean_Data
                        (Birth_Sex text, Age REAL, Race text, 
                        State text,Metropolitan_y_n text,
                        Urban_Rural text, Overall_Health text, 
                        Physical_Health text, BMI_CDC_Categories text, 
                        Diabetes text, Mental_Health text,
                        Alcohol_Usage text, Asthma_History text,
                        Kidney_Disease text, Stroke text, Reported_Income text,
                        Education_Level text, Avg_Hours_of_Sleep text, Colonoscopy text,
                        Prior_heart_Disease text, Prior_Heart_Disease text, Physical_activity text)''')

#cur.execute ('''INSERT INTO Clean_Data VALUES
 #                       ''')

In [ ]:
filtered_columns_df.dtypes

In [ ]:
DB_FILE_PATH = 'Heart_Disease_Analysis.db'
CSV_FILE_PATH = '..\\Sample_files\\IMDB-Movie-Data.csv'

## https://www.excelcise.org/python-sqlite-insert-data-pandas-data-frame/

In [ ]:
def connect_to_db(db_file):
    """
    Connect to an SQlite database, if db file does not exist it will be created
    :param db_file: absolute or relative path of db file
    :return: sqlite3 connection
    """
    sqlite3_conn = None

    try:
        sqlite3_conn = sqlite3.connect(db_file)
        return sqlite3_conn

    except Error as err:
        print(err)

        if sqlite3_conn is not None:
            sqlite3_conn.close()


def insert_values_to_table(table_name, csv_file):
    """
    Open a csv file with pandas, store its content in a pandas data frame, change the data frame headers to the table
    column names and insert the data to the table
    :param table_name: table name in the database to insert the data into
    :param csv_file: path of the csv file to process
    :return: None
    """

    conn = connect_to_db(DB_FILE_PATH)

    if conn is not None:
        c = conn.cursor()

        # Create table if it is not exist
        c.execute('CREATE TABLE IF NOT EXISTS ' + Clean_Data +
                  '(Birth_Sex text,'
                  ' Age REAL,'
                  ' Race text,'
                  ' State text,Metropolitan_y_n text,'
                  ' Urban_Rural text, Overall_Health text, '
                  ' Physical_Health text, BMI_CDC_Categories text, '
                  ' Diabetes text, Mental_Health text,'
                  ' Alcohol_Usage text, Asthma_History text,'
                  ' Kidney_Disease text, Stroke text, Reported_Income text,'
                  ' Education_Level text, Avg_Hours_of_Sleep text, Colonoscopy text,'
                  ' Prior_heart_Disease text, Prior_Heart_Disease text, Physical_activity text)')
        
        
          # Create table if it is not exist
        c.execute('CREATE TABLE IF NOT EXISTS ' + table_name +
                  '(rank        INTEGER,'
                  'title        VARCHAR,'
                  'genre        VARCHAR,'
                  'description  VARCHAR,'
                  'director     VARCHAR,'
                  'actors       VARCHAR,'
                  'year_release INTEGER,'
                  'runTime      INTEGER,'
                  'rating       DECIMAL,'
                  'votes        INTEGER,'
                  'revenue      DECIMAL,'
                  'metascore    INTEGER)')

        df = pd.read_csv(csv_file)

        df.columns = get_column_names_from_db_table(c, table_name)

        df.to_sql(name=table_name, con=conn, if_exists='append', index=False)

        conn.close()
        print('SQL insert process finished')
    else:
        print('Connection to database failed')


def get_column_names_from_db_table(sql_cursor, table_name):
    """
    Scrape the column names from a database table to a list
    :param sql_cursor: sqlite cursor
    :param table_name: table name to get the column names from
    :return: a list with table column names
    """

    table_column_names = 'PRAGMA table_info(' + table_name + ');'
    sql_cursor.execute(table_column_names)
    table_column_names = sql_cursor.fetchall()

    column_names = list()

    for name in table_column_names:
        column_names.append(name[1])

    return column_names



if __name__ == '__main__':
    insert_values_to_table('imdb_temp', CSV_FILE_PATH)